:host {
  display: block;
  width: 100%;
  height: 100%;
}

.joins-component {
  display: flex;
  width: 100%;
  height: 100%;
}

.joins-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-right: 8px;
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
}

.joins-list {
  display: flex;
  flex-direction: column;
}

.join-item {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}


select {
  padding: 8px;
  margin-right: 8px;
  /* border: none; */
  outline: none;
  /* border-radius: 0; */
  /* appearance: none; */
}

/* elements */

.join-type {
  background-color: aliceblue;
}

.main-selector {
}

.conditions {
  max-width: 70px;
}
