<div class="joins-component">

  <div class="joins-wrapper">

    <div class="select-page-buttons">
      <button
        class="btn"
        (click)="addJoinItem()"
      >add
      </button>
      <button class="btn">mul</button>
      <button class="btn">div</button>
    </div>


    <table>

      <thead>
      <tr>
        <th>Join type</th>
        <th>Table 1</th>
        <th>Table 2</th>
        <th colspan="3">Condition</th>
      </tr>
      </thead>
      <tbody>
      <tr
        class="join-item"
        *ngFor="let joinItem of selectService.joinItems"
      >
        <td>
          <select
            class="join-type"
            (change)="onJoinTypeChange($event, joinItem.id)"
          >
            <option>{{joinItem.joinType}}</option>
            <option>...</option>
            <option>INNER JOIN</option>
            <option>LEFT OUTER JOIN</option>
            <option>RIGHT OUTER JOIN</option>
            <option>FULL OUTER JOIN</option>
          </select>
        </td>

        <td>
          <!-- LHS -->
          <select
            class="main-selector"
            (change)="onLeftTableSelect($event, joinItem.id)"
          >
            <option>{{joinItem.lhsTable.tableName}}</option>
            <option>...</option>
            <option *ngFor="let t of selectService.selectedTables">
              {{t.tableName}}
            </option>
          </select>
        </td>

        <td>
          <!-- RHS -->
          <select
            class="main-selector"
            (change)="onRightTableSelect($event, joinItem.id)"
          >
            <option>{{joinItem.rhsTable.tableName}}</option>
            <option>...</option>
            <option *ngFor="let t of selectService.selectedTables">
              {{t.tableName}}
            </option>
          </select>
        </td>

        <!-- ON lhs.field = RHS.field -->

        <td>
          <select
            class="main-selector"
            (change)="onLeftFieldSelect($event, joinItem.id)"
          >
            <option>{{joinItem.lhsField.fieldName}}</option>
            <option>...</option>
            <option *ngFor="let f of joinItem.lhsTable.fields">
              {{f.fieldName}}
            </option>
          </select>
        </td>

        <td>
          <select
            class="conditions"
            (change)="onConditionChange($event, joinItem.id)"
          >
            <option>{{joinItem.condition}}</option>
            <option>...</option>
            <option>=</option>
            <option><></option>
            <option><</option>
            <option>></option>
            <option><=</option>
            <option>>=</option>
          </select>
        </td>

        <td>
          <select
            class="main-selector"
            (change)="onRightFieldSelect($event, joinItem.id)"
          >
            <option>{{joinItem.rhsField.fieldName}}</option>
            <option>...</option>
            <option *ngFor="let f of joinItem.rhsTable.fields">
              {{f.fieldName}}
            </option>
          </select>
        </td>
      </tr>
      </tbody>

    </table>

  </div> <!-- joins-component -->

</div> <!-- joins-component -->
