<div class="tabs">
  <div
    class="tab-item"
    [routerLink]="[ '/' ]"
    [routerLinkActive]="['active-link']"
    [routerLinkActiveOptions]="{exact: true}"
  >Selections</div>

  <div class="tab-item" routerLink="/joins" routerLinkActive="active-link">Joins</div>
  <div class="tab-item">Conditions</div>
  <div class="tab-item">Grouping</div>
  <div class="tab-item">Unions</div>
  <div class="tab-item">Ordering</div>
  <div class="tab-item">Additionally</div>
  <div class="tab-item">Execute</div>
</div>
