:host {
  width: 100%;
  height: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;

  white-space: nowrap;
  overflow-y: auto;
  overflow-x: auto;

  caret-color: var(--app-lightgray-color);
  outline: none;

  background-color: var(--app-background-color);
  color: var(--app-gold-color);

  font-family: "Courier New", monospace;
  font-size: 16px;

  padding: 8px 8px 8px 16px;
}

.table-wrapper {
  padding: 0px 8px 8px 16px;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

thead {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: var(--app-hover-color);
}

.queries-cols {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.additional-queries {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  //overflow: hidden; //!
}

.query-item {
  width: 100%;
  height: 100%;
  overflow: hidden; //!
}

.one-query {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  //border-top: 1px solid var(--app-border-color);
  border-right: 1px solid var(--app-border-color);
  overflow-y: auto;
}

.queries {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden; //!
}
