<div class="select-page-database-tables">

  <div class="queries">
    <div class="query-item">
      <!-- bottom -->

      <div class="one-query">
        <div class="select-page-buttons">

          <button
            (click)="onShowTableQuery(_mainQueryLocation)"
            *ngIf="hasFlag(showQueryBottom) else tquery3"
            class="btn"
          >
            Execute
          </button>

          <button
            (click)="onHideLeft()"
            class="btn"
            *ngIf="hasFlag(_hideLeftAdditionalQuery)"
          >
            Show q1
          </button>

          <button
            (click)="onHideRight()"
            class="btn"
            *ngIf="hasFlag(_hideRightAdditionalQuery)"
          >
            Show q2
          </button>

          <ng-template #tquery3>
            <button
              (click)="onShowTableQuery(_mainQueryLocation)"
              class="btn"
            >
              Back to query
            </button>
          </ng-template>

        </div>

        <textarea
          *ngIf="hasFlag(showQueryBottom)"
          (change)="doTextareaValueChange($event)"
        >{{textareaValue}}</textarea>

<!--        <textarea *ngIf="hasFlag(showQueryBottom)">select * from pg_stat_activity</textarea>-->

        <div class="table-wrapper">
          <table *ngIf="hasFlag(showTableBottom)">

            <thead>
            <tr>
              <th *ngFor="let header of dto.columns">
                {{header}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let r of dto.rows">
              <td *ngFor="let c of r">
                {{c}}
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>

  </div>


  <div class="query-item" *ngIf="!hasFlag(_hideLeftAdditionalQuery) || !hasFlag(_hideRightAdditionalQuery)" >

    <div class="queries-cols">

      <div class="additional-queries">

        <div *ngIf="!hasFlag(_hideLeftAdditionalQuery)" class="one-query">
          <div class="select-page-buttons">

            <button
              (click)="onShowTableQuery(_additionalQueryLeftLocation)"
              *ngIf="hasFlag(showQueryTopLeft) else tquery1"
              class="btn"
            >
              Execute
            </button>

            <button
              (click)="onHideLeft()"
              class="btn"
            >
              Hide
            </button>

            <ng-template #tquery1>
              <button
                (click)="onShowTableQuery(_additionalQueryLeftLocation)"
                class="btn"
              >
                Back to query
              </button>
            </ng-template>

          </div>

          <textarea *ngIf="hasFlag(showQueryTopLeft)">select * from pg_stat_activity</textarea>

          <div class="table-wrapper">
            <table *ngIf="hasFlag(showTableTopLeft)">

              <thead>
              <tr>
                <th>Join type</th>
                <th>Table 1</th>
                <th>Table 2</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of dummyNumbers;">
                <td>
                  {{c}} test
                </td>
                <td>
                  {{c}} test
                </td>
                <td>
                  {{c}} test
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>

        <!-- top-right -->

        <div *ngIf="!hasFlag(_hideRightAdditionalQuery)" class="one-query">
          <div class="select-page-buttons">

            <button
              (click)="onShowTableQuery(_additionalQueryRightLocation)"
              *ngIf="hasFlag(showQueryTopRight) else tquery2"
              class="btn"
            >
              Execute
            </button>

            <button
              (click)="onHideRight()"
              class="btn"
            >
              Hide
            </button>

            <ng-template #tquery2>
              <button
                (click)="onShowTableQuery(_additionalQueryRightLocation)"
                class="btn"
              >
                Back to query
              </button>
            </ng-template>

          </div>

          <textarea *ngIf="hasFlag(showQueryTopRight)">select * from pg_stat_activity</textarea>

          <div class="table-wrapper">
            <table *ngIf="hasFlag(showTableTopRight)">

              <thead>
              <tr>
                <th>Join type</th>
                <th>Table 1</th>
                <th>Table 2</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of dummyNumbers;">
                <td>
                  test
                </td>
                <td>
                  test
                </td>
                <td>
                  test
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
