<div class="select-page-database-tables">

  <div class="queries">
    <div class="query-item">
      <!-- bottom -->

      <div class="one-query">
        <div class="select-page-buttons">

          <button
            (click)="onShowTableQuery(_mainQueryLocation)"
            *ngIf="hasFlag(_showMainQuery) else tquery3"
            class="btn"
          >
            Execute
          </button>

          <button
            (click)="onHideLeft()"
            class="btn"
            *ngIf="hasFlag(_hideLeftAdditionalQuery)"
          >
            Show q1
          </button>

          <button
            (click)="onHideRight()"
            class="btn"
            *ngIf="hasFlag(_hideRightAdditionalQuery)"
          >
            Show q2
          </button>

          <ng-template #tquery3>
            <button
              (click)="onShowTableQuery(_mainQueryLocation)"
              class="btn"
            >
              Back to query
            </button>
          </ng-template>

        </div>

        <textarea
          *ngIf="hasFlag(_showMainQuery)"
          (change)="doTextareaValueChange(_mainQueryLocation, $event)"
        >{{mainTextareaQuery}}</textarea>

        <div class="table-wrapper">
          <table *ngIf="hasFlag(showTableBottom)">

            <thead>
            <tr>
              <th *ngFor="let header of _mainDto.columns">
                {{header}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let r of _mainDto.rows">
              <td *ngFor="let c of r">
                {{c}}
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>

  </div>


  <div class="query-item" *ngIf="!hasFlag(_hideLeftAdditionalQuery) || !hasFlag(_hideRightAdditionalQuery)" >

    <div class="queries-cols">

      <div class="additional-queries">

        <div *ngIf="!hasFlag(_hideLeftAdditionalQuery)" class="one-query">
          <div class="select-page-buttons">

            <button
              (click)="onShowTableQuery(_additionalQueryLeftLocation)"
              *ngIf="hasFlag(_showLeftQuery) else tquery1"
              class="btn"
            >
              Execute
            </button>

            <button
              (click)="onHideLeft()"
              class="btn"
            >
              Hide
            </button>

            <ng-template #tquery1>
              <button
                (click)="onShowTableQuery(_additionalQueryLeftLocation)"
                class="btn"
              >
                Back to query
              </button>
            </ng-template>

          </div>

          <textarea
            *ngIf="hasFlag(_showLeftQuery)"
            (change)="doTextareaValueChange(_additionalQueryLeftLocation, $event)"
          >{{leftTextareaQuery}}</textarea>

          <div class="table-wrapper">
            <table *ngIf="hasFlag(showTableTopLeft)">

              <thead>
              <tr>
                <th *ngFor="let header of _leftDto.columns">
                  {{header}}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let r of _leftDto.rows">
                <td *ngFor="let c of r">
                  {{c}}
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>

        <!-- top-right -->

        <div *ngIf="!hasFlag(_hideRightAdditionalQuery)" class="one-query">
          <div class="select-page-buttons">

            <button
              (click)="onShowTableQuery(_additionalQueryRightLocation)"
              *ngIf="hasFlag(_showRightQuery) else tquery2"
              class="btn"
            >
              Execute
            </button>

            <button
              (click)="onHideRight()"
              class="btn"
            >
              Hide
            </button>

            <ng-template #tquery2>
              <button
                (click)="onShowTableQuery(_additionalQueryRightLocation)"
                class="btn"
              >
                Back to query
              </button>
            </ng-template>

          </div>

          <textarea
            *ngIf="hasFlag(_showRightQuery)"
            (change)="doTextareaValueChange(_additionalQueryRightLocation, $event)"
          >{{rightTextareaQuery}}</textarea>

          <div class="table-wrapper">
            <table *ngIf="hasFlag(showTableTopRight)">

              <thead>
              <tr>
                <th *ngFor="let header of _rightDto.columns">
                  {{header}}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let r of _rightDto.rows">
                <td *ngFor="let c of r">
                  {{c}}
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
