<!-- component -->
<div class="select-component">


  <div *ngIf="!isHidden" class="db-tables selector-wrapper">
    <app-database-tables></app-database-tables>
  </div>

  <div class="opts">
    <ng-container *ngIf="!isHidden">
      <button
        class="material-icons btn-hide"
        (click)="hide()"
      >
        chevron_left
      </button>
    </ng-container>
    <ng-container *ngIf="isHidden">
      <button
        class="material-icons btn-hide"
        (click)="hide()"
      >
        chevron_right
      </button>
    </ng-container>

    <div class="spacer"></div>
  </div>

  <div class="selector-wrapper">
    <app-selected-tables></app-selected-tables>
  </div>

  <!--  <div class="selector-wrapper">-->
  <!--    <app-selected-fields></app-selected-fields>-->
  <!--  </div>-->
</div>
