<div class="container">
  <div class="header">
    <div class="nav-item">
      <button class="btn">Login</button>
    </div>
    <div class="nav-item">
      <button class="btn">Logout</button>
    </div>
  </div>

  <app-builder-steps-tabs></app-builder-steps-tabs>

  <div class="content">

    <router-outlet></router-outlet>

    <app-union-tabs></app-union-tabs>

  </div>

  <div class="bottom-tabs">
  </div>

  <div class="footer">
    <div class="nav-item">
      <button class="btn">Ok</button>
    </div>
    <div class="nav-item">
      <button class="btn">Cancel</button>
    </div>
  </div>
</div>

