<div class="container">
  <div class="header">
    <div class="nav-item">
      <button class="btn" (click)="login()">Login</button>
    </div>
    <div class="nav-item">
      <button class="btn">Logout</button>
    </div>
  </div>

  <div class="tabs">
    <div class="tab-item" (click)="onQueriesClick()">
      Queries
    </div>
    <div class="tab-item" (click)="onSettingsClick()">
      Settings
    </div>
    <div class="tab-item">
      Connections
    </div>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">

  </div>

</div>

