<div class="select-page-database-tables">
  <div class="select-page-buttons">
    <button class="btn" (click)="addMockTable()">add</button>
    <button class="btn">mul</button>
    <button class="btn">div</button>
  </div>

  <div
    class="db-tables-list"
  >

    <div
      class="one-table"
      *ngFor="let t of selectService.dbTables$ | async"
    >
      <!-- table -->
      <div
        class="table-name"
        (dblclick)="onDatabaseTables_tableName_dblclick(t)"
        (click)="onDatabaseTables_tableName_click(t)"
      >
        {{t.name}}
      </div>

      <!-- fields -->
      <div
        class="field-group"
        *ngIf="t.selected"
      >
        <div
          class="field-name"
          *ngFor="let f of t.fields; let fieldIndex = index;"
          (dblclick)="onDatabaseTables_fieldName_dblclick(f)"
          (click)="onDatabaseTables_fieldName_click(f)"
        >
          {{fieldIndex}}) {{f.name}}
        </div>
      </div>

    </div>

  </div>

</div>
