<div class="select-page-database-tables">
  <div class="select-page-buttons">
    <button class="btn" (click)="addMockTable()">add</button>
    <button class="btn">mul</button>
    <button class="btn">div</button>
  </div>
  <div class="db-tables-list">
    <div
      class="table-name"
      *ngFor="let t of selectService.dbTables$ | async"
    >
      {{t.name}}
      <div
        class="field-name"
        *ngFor="let f of t.fields"
      >
        {{f.name}}
      </div>
    </div>

  </div>
</div>
