<div class="select-page-database-tables">
  <div class="select-page-buttons">
    <button class="btn">add</button>
    <button class="btn">mul</button>
    <button class="btn">div</button>
  </div>
  <div class="db-tables-list">
    <div class="table-name">
      table-name
      <div class="field-name">field 1</div>
      <div class="field-name">field 1</div>
      <div class="field-name">field 1</div>
      <div class="field-name">field 1</div>
      <div class="field-name">field 1</div>
    </div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>
    <div class="table-name">table-name</div>

  </div>
</div>
