@import url(http://fonts.googleapis.com/css?family=Open+Sans);

:root {
  //--app-border-color: #dfdfdf;
  --app-border-color: #343434;

  //--app-background-color: #222222;
  --app-background-color: #171717;

  --app-gold-color: #af966d;

  --app-lightgray-color: rgb(232,232,232);

  --app-gray-text-color: #5d5d5d;

  --app-red-color: #c62828;

  --app-green-color: #0bbba9;

  --app-blue-color: #007bc9;

  --app-orange-color: #ff6c37;

  --app-hover-color: #303030;

  --app-border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--app-background-color);
  color: var(--app-lightgray-color);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  //border: 1px solid red;
}

/* main layout */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--app-border-color);
}

.nav-item {

}

.tabs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 50px;
  width: 100%;
  border: 1px solid gray;
}

.tab-item {
  margin-right: 2px;
  padding: 8px 8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid var(--app-border-color);
  color: var(--app-gray-text-color);
  border-bottom: none;
  cursor: pointer;

  &:hover {
    background-color: #303030;
  }
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
  width: 100%;
  border-top: 1px solid var(--app-border-color);
}

.bottom-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 32px;
  width: 100%;
  border-top: 1px solid var(--app-border-color);
}

/* main layout */

/* component 1 */
.select-component {
  display: flex;
  height: 100%;
  width: 100%;
}

.selector-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  //margin-right: 8px;
  //border: 1px solid var(--app-border-color);
  border-top: none;
  border-bottom: none;
}

.select-page-database-tables {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.select-page-buttons {
  display: flex;
  min-height: 32px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--app-border-color);
}

.btn {
  //padding: 4px;
  margin-right: 4px;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: var(--app-background-color);
  color: var(--app-lightgray-color);
  border-radius: var(--app-border-radius);

  padding: 0.3rem 1.3rem;
  font-size: 14px;
  transition: opacity 0.2s ease-in;

  &:hover {
    background-color: var(--app-hover-color);
    opacity: 0.8;
    color: var(--app-green-color);
  }
}

.btn-opt {
  border: none;
  cursor: pointer;
  background: var(--app-background-color);
  color: var(--app-lightgray-color);
  border-radius: var(--app-border-radius);

  &:hover {
    background-color: var(--app-hover-color);
  }
}

.db-tables-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 32px;
}

.unions {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70px;
  overflow-y: auto;
}

.union-item {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid var(--app-border-color);
  //writing-mode: vertical-lr;

  border-radius: var(--app-border-radius);

  &:hover {
    background-color: var(--app-hover-color);
  }
}

.table-name {
  cursor: pointer;
  padding: 4px;
  margin-left: 4px;
  width: 100%;

  border-radius: var(--app-border-radius);

  &:hover {
    background-color: var(--app-hover-color);
  }
}

.field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.field-name {
  padding: 4px;
  margin-left: 45px;
  margin-bottom: 2px;
  cursor: pointer;

  border-radius: var(--app-border-radius);

  &:hover {
    background-color: var(--app-hover-color);
  }
}

.field-type {
  //font-style: italic;
}

.one-table {
  margin-bottom: 4px;
  margin-left: 8px;
  //font-family: "Courier New", monospace;
}

.table-options {
  display: flex;
}

.active-link {
  color: var(--app-green-color);
  background-color: var(--app-hover-color);
}


// table

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border: 1px solid var(--app-border-color);
}

th,
td {
  border: 1px solid var(--app-border-color);
}

th {
  text-align: center;
  padding: 4px 18px 4px 18px;
}

tr {
  &:hover {
    background-color: var(--app-hover-color);
    opacity: 0.8;
    color: var(--app-green-color);
  }
}

td {
  text-align: left;
  padding: 4px 18px 4px 18px;
  user-select: text;
}

// scrollbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--app-lightgray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
