@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: rgb(232,232,232);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* main layout */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
  width: 100%;
}

.nav-item {

}

.tabs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 50px;
  width: 100%;
  border: 1px solid gray;
}

.tab-item {
  border-bottom: none;
  margin-right: 8px;
  padding: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid gray;
  border-bottom: none;
  cursor: pointer;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-color: rgb(232,232,232);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
  width: 100%;
  border-top: 1px solid gray;
}
/* main layout */

/* component 1 */
.select-component {
  display: flex;
  height: 100%;
  width: 100%;
}

.selector-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin-right: 8px;
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
}

.select-page-database-tables {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.select-page-buttons {
  display: flex;
  min-height: 32px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  //margin-left: 4px;
  margin-bottom: 8px;

  border-bottom: 1px solid gray;
}

.btn {
  padding: 4px;
  margin-right: 4px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.btn-opt {
  border: none;
  cursor: pointer;
}

.db-tables-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.unions {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70px;
  overflow-y: auto;
}

.union-item {
  margin-top: 4px;
  margin-bottom: 4px;

  padding: 4px;
  cursor: pointer;

  border: 1px solid gray;
}

.table-name {
  cursor: pointer;
  padding: 4px;
  margin-left: 4px;
  width: 100%;

  //border: 1px solid gray;
}

.field-group {
  //border: 1px solid gray;
}

.field-name {
  padding: 4px;
  margin-left: 32px;
  margin-bottom: 2px;
  cursor: pointer;
  //border: 1px dotted gray;
}

.one-table {
  margin-bottom: 4px;
  margin-left: 8px;
  //border: 1px solid gray;
}

.table-options {
  display: flex;
}

.active-link {
  background-color: rgb(212,212,212);
  font-weight: bolder;
}
