<div class="settings-layout">
  <div class="settings-lhs">
    <div class="db-tables-list">
      <a
        *ngFor="let s of settings"
        (click)="onSettingClick($event)"
        class="table-name"
        id="{{ s.id }}"
        [ngClass]="{'active-setting-link': s.visible }"
      >
        {{ s.title }}
      </a>
    </div>
  </div>

  <div class="settings-rhs">
    <ng-container>
      <div
        class="settings-group"
        *ngFor="let groupname of currentSetting.children"
      >
        <div class="title">{{ groupname.title }}</div>

        <ng-container *ngFor="let elem of groupname.settings">
          <div class="setting-one-item">
            <div class="setting-name-value-group">
              <a
                id="{{ elem.name }}"
                class="setting-name"
                (click)="onSettingItemClick($event)"
                >{{ elem.name }}</a
              >
              <div class="setting-value">
                <input
                  id="{{ elem.name }}"
                  class="setting-input"
                  type="text"
                  value="{{ elem.setting }}"
                  (change)="onInputChange($event)"
                />
              </div>
            </div>
            <div class="setting-docs-types-group" *ngIf="showDoc(elem)">
              <div class="setting-docs">
                <ng-container *ngFor="let d of elem.docsRu">
                  <p>
                    {{ d }}
                  </p>
                </ng-container>
              </div>
              <div class="setting-types">
                <div class="setting-types-item">
                  <div class="setting-type-item-name">context</div>
                  <div class="setting-type-item-value">{{elem.context}}</div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
